.side-bar
  .side-bar__side-header
    .side-bar__side-header__user-box
      .side-bar__side-header__user-box__user-name
        yama
      .side-bar__side-header__user-box__icon
        = link_to "#", class: "new-group__btn" do
          %i.far.fa-edit
          %span<>
        = link_to "#", class: "edit-user__btn" do
          %i.fas.fa-cog
  %ul.group-list
    %li.group
      %p.group__group-name
        techcamp1
      %p.group__group-message
        まだメッセージがありません
    %li.group
      %p.group__group-name
        techcamp2
      %p.group__group-message
        まだメッセージがありません